*, .home li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
    Verdana, sans-serif;
    background-color: plum;
    font-size: 24px;
}

.return {
    text-align: right;
    display: block;
}

h1, h2, p {
    text-align: center;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h2, li, .ingredients, .steps, .recipe, p {
    background-color: pink;
}

.ingredients, .steps {
    display: table;
    margin: 0 auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipe {
    border-style: solid;
    border-color: deeppink;
    border-width: 2px;
    border-radius: 25px;
    padding: 15px 25px;
    margin: 25px 100px;
}